table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#coffees{

}

.coffee-id{
    display: none;
}

.coffee-name {
    font-size: 20px;
    font-weight: bold;
}
.coffee-roast{
    font-size: 16px;
    color: lightgrey;

}

.light{
    color: lightgrey;
}

body {
    background: none;
}

#cardLeft {
    background-color: rgba(0, 0, 0, 0.5);
    height: 35em;
}

#cardRight {
    background-color: rgba(0, 0, 0, 0.5);
    height: 35em;
}

#btn1 {
    background-color: #493019;
}

#submitButton {
    background-color: #493019;
}

body {
    background-image: url("img/coffeebeans.png");
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background: linear-gradient(#493019, rgba(0, 0, 0, 0.1));
}
