table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#coffees{

}

.coffee-id{
}

.coffee-name {
    font-size: 20px;
    font-weight: bold;
}
.coffee-roast{
    font-size: 16px;
    color: lightgrey;

}

.light{
    color: lightgrey;
}

body {
    background: none;
}

#cardLeft{
    background-color: rgba(73, 48, 25, 0.5);
    height: auto;
    width: 100%;
    font-family: 'Rye', cursive;
}

#cardRight {
    background-color: rgba(73, 48, 25, 0.5);
    height: auto;
    width: 50%;
    font-family: 'Rye', cursive;
}

#btn1 {
    background-color: #273a1c;
}

#submitButton {
    background-color: #273a1c;
}

body {
    background-image: url("img/coffeebeans.png");
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background:linear-gradient(#493019, rgba(0, 0, 0, 0));
    font-family: 'Rye', cursive;
}

h1{
    font-family: 'Rye', cursive;
}

.img-class {
    background-image: url("img/coffee-cup-side-view.png");
    background-size: cover;
    border-radius: 100%;
    height: 4em;
    width: 4em;
}



.coffee-id {
    color: rgba(255, 255, 255, 0);
}

#shadow {
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#coaster-holder {
    height: 42em;
}




