table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#coffees{

}

.coffee-id{
}

.coffee-name {
    font-size: 20px;
    font-weight: bold;
}
.coffee-roast{
    font-size: 16px;
    color: lightgrey;

}

.light{
    color: lightgrey;
}

body {
    background: none;
}

#cardLeft{
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: 100%;
    font-family: 'Rye', cursive;
}

#cardRight {
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    width: 50%;
    font-family: 'Rye', cursive;
}

#btn1 {
    background-color: #493019;
}

#submitButton {
    background-color: #493019;
}

body {
    background-image: url("img/coffeebeans.png");
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background:linear-gradient(#493019, rgba(0, 0, 0, 0.1));
    font-family: 'Rye', cursive;
}

h1{
    font-family: 'Rye', cursive;
}

.img-class {
    background-image: url("img/coffee-cup-side-view.png");
    background-size: cover;
    border-radius: 100%;
    height: 6em;
    width: 6em;
}


.coffee-id {
    color: rgba(255, 255, 255, 0);
}



